body {
  font-size: 14px;
	font-family: 'Nanum Gothic Coding', monospace;
}

#plane {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
}

.info-wrapper {
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #000;
	padding: 5px;
	z-index: 999;
}

.info-wrapper-big {
  width: 40%;
  padding: 30px;
  text-align: center;
}

.info {
	display: block;
	font-family: 'Nanum Gothic Coding', monospace;
	font-size: 1rem;
	color: white;
	z-index: 999;
}

#seconds-count, #seconds-value {
	letter-spacing: -0.07rem;
}

#data-image {
	display: none;
}

.RGB-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  text-align: center;
  font-size: 5em;
  padding-bottom: 1em;
}

.RGB-grid > * {
  padding: 10% 0;
}

.big {
  font-size: 5em;
}

#color-red, #color-green, #color-blue {
  font-size: 1.9em;
  /* transform: rotate(270deg); */
  /* text-align: right; */
  display: inline-block;
}

#color-red-direction, #color-green-direction, #color-blue-direction {
  font-size: 1.5em;
  /* transform: rotate(270deg); */
  /* text-align: right; */
  display: inline-block;
}

.info-big {
  font-size: 6.3em;
}